In [2]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (20,10)

In [7]:
df = pd.read_csv("./test.csv")
#df = pd.read_csv("./Output.csv")
# Drop readings that failed
df = df.dropna()
# Convert Date time to one that will work with PyPlot
df["Date/Time"] = pd.to_datetime(df["Date/Time"])
df.head()

,Date/Time,Temperature(Outdoor),Humidity(Outdoor)(%),Temperature(Indoor),Humidity(Indoor)(%)
0,2022-07-17 12:44:35,31.1,36.7,31.1,36.7
1,2022-07-17 12:44:40,30.9,36.6,30.9,36.6
2,2022-07-17 12:44:45,30.8,36.7,30.8,36.7
3,2022-07-17 12:44:51,30.8,36.5,30.8,36.5
4,2022-07-17 12:44:56,30.8,36.6,30.8,36.6

In [8]:
start_date = "2022-07-17"
end_date = "2022-07-18"
mask = (df["Date/Time"] > start_date) & (df["Date/Time"] <= end_date)
df = df.loc[mask]
df.head()

,Date/Time,Temperature(Outdoor),Humidity(Outdoor)(%),Temperature(Indoor),Humidity(Indoor)(%)
0,2022-07-17 12:44:35,31.1,36.7,31.1,36.7
1,2022-07-17 12:44:40,30.9,36.6,30.9,36.6
2,2022-07-17 12:44:45,30.8,36.7,30.8,36.7
3,2022-07-17 12:44:51,30.8,36.5,30.8,36.5
4,2022-07-17 12:44:56,30.8,36.6,30.8,36.6

In [12]:
avg_indoor_temp = df["Temperature(Indoor)"].mean()
avg_ourdoor_temp = df["Temperature(Outdoor)"].mean()
avg_indoor_humid = df["Humidity(Indoor)(%)"].mean()
avg_ourdoor_humid = df["Humidity(Outdoor)(%)"].mean()

In [13]:
df["Temperature(Indoor)"].max()

32.8

In [14]:
df["Temperature(Indoor)"].min()

20.3